.more-button {
  max-width: 1140px;
  width: 100%;
  height: 36px;
  background-color: #F9F9F9;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  text-align: center;
  margin: 50px 70px 80px;
  padding: 0;
}

.more-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .more-button {
    max-width: 708px;
    margin: 50px 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .more-button {
    max-width: 300px;
    margin: 50px 10px 80px;
  }
}