.movies-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #FDFDFD;
}

.movies-card__description {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .movies-card__description {
    max-width: 272px;
    margin: 14px;
  }
}

.movies-card__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.20;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .movies-card__name {
    font-size: 12px;
    line-height: 1.50;
  }
}

.movies-card__length {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .movies-card__length {
    font-size: 10px;
    line-height: 1.80;
  }
}

.movies-card__thumbnail {
  width: 360px;
  height: 200px;
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .movies-card__thumbnail {
    width: 342px;
    height: 190px;
  }
}

@media screen and (max-width: 750px) { 
  .movies-card__thumbnail {
    width: 300px;
    height: 168px;
  }
}

.movies-card__button {
  border: none;
  background-color: transparent;
  margin: 18px auto;
  padding: 0;
}

.movies-card__button:hover {
  cursor: pointer;
}