.loggedoutheader {
  max-height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F3C1F8;
  padding: 0 70px;
}

@media screen and (max-width: 420px) {
  .loggedoutheader {
    padding: 0 14px;
  }
}

.loggedoutheader__authorization {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: 21px 0;
  padding: 0;
}

@media screen and (max-width: 420px) {
  .loggedoutheader__authorization {
    gap: 10px;
  }
}

.loggedoutheader__authorization_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border: none;
  background-color: transparent;;
}

@media screen and (max-width: 420px) {
  .loggedoutheader__authorization_link {
    font-size: 10px;
    line-height: 1.60;
  }
}

.loggedoutheader__authorization_button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #FFFFFF;
  height: 32px;
  width: 76px;
  border-radius: 3px;
  background-color: #000000;
}

@media screen and (max-width: 420px) {
  .loggedoutheader__authorization_button {
    height: 26px;
    width: 54px;
  }
}
